<div class="container">
    <h1 class="mt-3">Blog Post List</h1>
    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="'/Admin/BlogPosts/Add'" class="btn btn-black">Add Blog Post</a>
    </div>
    <ng-container *ngIf="blogPosts$ | async as blogPosts">
        <div class="table-responsive">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Short Description</th>
                        <th>Is Visible?</th>
                        <th>Categories</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let blogPost of blogPosts">
                        <td>{{blogPost.title}}</td>
                        <td>{{blogPost.shortDescription}}</td>
                        <td>{{blogPost.isVisible}}</td>
                        <!-- <td>
                            <a [routerLink]="'/Admin/BlogPosts/Edit/' + blogPost.id" class="btn btn-black me-2">Edit</a>
                    <button class="btn btn-danger" (click)="DeleteRecord(blogPost)">Delete</button>
                        </td> -->
                        <td>
                            <ng-container *ngIf="blogPost.categories.length != 0; else noCategories">
                                <ng-container *ngFor="let category of blogPost.categories; let i = index">
                                    <span class="badge rounded-pill text-bg-dark me-1 mb-1">{{category.name}}</span>
                                </ng-container>
                            </ng-container>
                            <ng-template #noCategories>NA</ng-template>
                        </td>
                        <td><a [routerLink]="'/Admin/BlogPosts/' + blogPost.id">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
</div>