.preview {
    height: 350px;
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid #c6c7c8;
    border-radius: 5px;
    margin-top: 0.5rem;
}

::ng-deep select:-internal-list-box option:checked {
    background-color: rgb(16, 16, 16) !important;
    color: rgb(255, 255, 255) !important;
}